@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

:root {
  --background: #967BB6;
  --foreground: #F3F3F3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F3F3F3;
    --font-raleway: 'Raleway', sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-raleway);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
